{% extends "base.html" %}

{% block headercss %}
    {% block headercss_1 %}
    {% endblock %}
{% endblock %}

{% block content %}

    <header class="subhead">
      <div class="container">
        {% block content_subtitle %}
        {% endblock %}
      </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="span3">
                {% block content_sidebar %}
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                          <li class="nav-header">售后记录</li>
                          <li><a href="recordcreate">创建新售后记录</a></li>
                          <li><a href="recordlist?state=pending">查看未解决售后</a></li>
                          <li><a href="recordlist?state=complete">查看已解决售后</a></li>
                          <li><a href="recordlist?state=all">查看全部售后</a></li>
{#                          <li><a href="#">Link</a></li>#}
                        </ul>
                    </div><!--/.well -->
                {% endblock %}
            </div>

            <div class="span9">
                <div class="container-fluid">
                    {% block content_con %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footerjs %}
    {% block footerjs_1 %}
    {% endblock %}
{% endblock %}