{% extends "general.html" %}

{% block navactive %}
              <li><a href="index">首页</a></li>
              <li><a href="about">关于我们</a></li>
              <li><a href="contact">联系我们</a></li>
              <li><a href="dashboard">仪表盘</a></li>
              <li><a href="tracking">支持</a></li>
              <li class="active"><a href="record">记录</a></li>
{% endblock %}

{% block content_subtitle %}
        <h1>跟踪</h1>
        <p class="lead">这里是记录模块，可以在此记录信息。</p>
{% endblock %}

{% block content_con %}


  <form action="{% url "record_mid_creater" %}" method='post' class="form-horizontal">{% csrf_token %}
    <fieldset>
        <div id="legend" class="">
            <legend class="">售后信息创建</legend>
        </div>

        <div class="control-group">
            <!-- Text input-->
            <label class="control-label">订单ID</label>
            <div class="controls"><input name="qcddid" class="input-xlarge" type="text"></div>
        </div>

        <div class="control-group">
            <label class="control-label">旺旺ID</label>
            <div class="controls"><input name="qcwwid" class="input-xlarge" type="text"></div>
        </div>

        <div class="control-group">
            <label class="control-label">订单状态</label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="qcstate" value="1" checked>处理中
                </label>
                <label class="radio">
                    <input type="radio" name="qcstate" value="0">最终搞定
                </label>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">负责人</label>
            <div class="controls"><input name="qccharger" class="input-xlarge" type="text"></div>
        </div>

        <div class="control-group">
            <label class="control-label">所需支持</label>
            <div class="controls"><input name="qcdemand" class="input-xlarge" type="text"></div>
        </div>

        <div class="control-group">
            <label class="control-label">问题描述</label>
            <div class="controls">
                <div class="textarea"><textarea name="qcnotes" type="" class=""> </textarea></div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label"></label>
            <div class="controls"><button class="btn btn-success">提交</button></div>
        </div>
    </fieldset>
  </form>


{% endblock %}