{% extends "general.html" %}
{% load staticfiles %}

{% block headercss_1 %}
    <link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="{% static "bootstrap-wysiwyg-master/index.css" %}" rel="stylesheet">
{%  endblock %}

{% block navactive %}
    <li><a href="index">首页</a></li>
    <li><a href="about">关于我们</a></li>
    <li><a href="contact">联系我们</a></li>
    <li><a href="dashboard">仪表盘</a></li>
    <li class="active"><a href="recordlist?state=pending">售后记录</a></li>
{% endblock %}

{% block content_subtitle %}
    <h1>创建售后记录</h1>
    <p class="lead">按照订单号创建新的售后记录。</p>
{% endblock %}

{% block content_con %}

    <form name="form1" action="{% url "creater" %}" method='post' class="form-horizontal">{% csrf_token %}
        <fieldset>
            <div id="legend" class="">
                <legend class="">创建售后记录</legend>
            </div>

            <div class="control-group">
                <label class="control-label">订单号</label>
                <div class="controls"><input name="OrderNo" class="input-xlarge" type="text"></div>
            </div>
            <div class="control-group">
                <label class="control-label">提交人</label>
                <div class="controls"><input name="Authors" class="input-xlarge" type="text"></div>
            </div>
            <div class="control-group">
                <label class="control-label">问题描述</label>
                <div class="controls"><input name="ProblemSummary" class="input-xlarge" type="text"></div>
            </div>
            <div class="control-group">
                <label class="control-label">订单状态</label>
                <div class="controls">
                    <label class="radio"><input type="radio" name="State" value=0 checked>未处理</label>
                    <label class="radio"><input type="radio" name="State" value=1>处理完成</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">紧急处理</label>
                <div class="controls">
                    <label class="checkbox"><input type="checkbox" name="EmergencyTreatment" value=1>紧急处理</label>
                    <label class="checkbox"><input type="checkbox" name="CallProcessing" value=1>电话处理</label>
              </div>
            </div>
            <div class="control-group">
                <label class="control-label">涉及旺旺名</label>
                <div class="controls"><input name="CustomerName" class="input-xlarge" type="text"></div>
            </div>
            <div class="control-group">
                <label class="control-label">涉及产品名</label>
                <div class="controls"><input name="Products" class="input-xlarge" type="text"></div>
            </div>

            <div class="control-group">
                <label class="control-label">问题描述</label>
                <div class="controls"></div>
            </div>
            <div class="hero-unit">
                <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="icon-font"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                            <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                            <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
                        <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
                        <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
                        <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ul"></i></a>
                        <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="icon-list-ol"></i></a>
                        <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
                        <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
                        <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
                        <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
                        <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="icon-picture"></i></a>
                        <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
                        <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
                    </div>
                </div>
                <div id="editor">请输入内容……</div>
                <input name="ProblemDescription" type="hidden">
            </div>

            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls"><button onclick="document.getElementsByName('ProblemDescription')[0].value = $('#editor').wysiwyg('getContent').html();document.form1.submit();" class="btn btn-success">提交</button></div>
            </div>
        </fieldset>
    </form>

{% endblock %}

{% block footerjs_1 %}
    <script src="https://mindmup.s3.amazonaws.com/lib/jquery.hotkeys.js"></script>
    <script src="{% static "bootstrap-wysiwyg-master/bootstrap-wysiwyg.js" %}"></script>
    <script>
        $(function(){
            function initToolbarBootstrapBindings() {
                var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier',
                            'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
                            'Times New Roman', 'Verdana'],
                        fontTarget = $('[title=Font]').siblings('.dropdown-menu');
                $.each(fonts, function (idx, fontName) {
                    fontTarget.append($('<li><a data-edit="fontName ' + fontName +'" style="font-family:\''+ fontName +'\'">'+fontName + '</a></li>'));
                });
                $('a[title]').tooltip({container:'body'});
                $('.dropdown-menu input').click(function() {return false;})
                        .change(function () {$(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');})
                        .keydown('esc', function () {this.value='';$(this).change();});

                $('[data-role=magic-overlay]').each(function () {
                    var overlay = $(this), target = $(overlay.data('target'));
                    overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
                });
            }
            initToolbarBootstrapBindings();
            $('#editor').wysiwyg();
            window.prettyPrint && prettyPrint();
        });

    </script>
{% endblock %}