{% extends "general.html" %}
{% load staticfiles %}

{% block headercss_1 %}
    <link href="{% static "jPages/jPages.css" %}" rel="stylesheet">
{%  endblock %}

{% block navactive %}
    <li><a href="index">首页</a></li>
    <li><a href="about">关于我们</a></li>
    <li><a href="contact">联系我们</a></li>
    <li><a href="dashboard">仪表盘</a></li>
    <li class="active"><a href="recordlist">售后记录</a></li>
{% endblock %}

{% block content_subtitle %}
    <h1>售后记录列表</h1>
    <p class="lead">此页可以看到售后记录的分页展示。</p>
{% endblock %}

{% block content_con %}

    <div class="holder"></div>
    <ul class="thumbnails" id="itemContainer">
    {% for results in dbresults reversed %}
        <li class="span9">
            <div class="thumbnail">
                <div class="caption">
                    {% if results.State == 0 %}
                        <span class="label label-warning">未处理</span>
                    {% else %}
                        <span class="label">已处理</span>
                    {% endif %}
                    {% if results.State == 0 %}
                        <button class="pull-right btn btn-success" onclick="javascript:window.location.href='recordpatch?servicecode={{ results.ServiceCode }}'">处理售后</button>
                    {% else %}
                        <button class="pull-right btn" onclick="javascript:window.location.href='recordpatch?servicecode={{ results.ServiceCode }}'" disabled>处理售后</button>
                    {% endif %}
                    <button class="btn btn-small btn-primary" onclick="javascript:window.location.href='orderlist?orderno={{ results.OrderNo }}'">该订单历史记录</button>
                    {% if results.State == 0 %}
                    <button class="btn btn-small btn-danger" onclick="javascript:window.location.href='deleter?servicecode={{ results.ServiceCode }}'">删除</button>
                    {% endif %}
                    <h4>订单编号：{{ results.OrderNo }} &nbsp;&nbsp; 服务编码：{{ results.ServiceCode }}</h4>
                    <small>提交人：{{ results.Authors }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 提交时间：{{ results.DateTime|date:"Y年n月j日（周w）P" }}</small>
                    <br/><br/>
                    <strong>问题摘要：{{ results.ProblemSummary }}</strong>
                </div>

                {% if results.State == 0 %}
                    {% if results.EmergencyTreatment == 1 or results.CallProcessing == 1 %}
                    <div class="alert alert-danger">
                        <strong>
                        {% if results.EmergencyTreatment == 1 %}
                            &nbsp;&nbsp;&nbsp;&nbsp;紧急事件！！！！
                        {% endif %}
                        {% if results.CallProcessing == 1 %}
                            &nbsp;&nbsp;&nbsp;&nbsp;需要电话处理
                        {% endif %}
                        </strong>
                    </div>
                    {% endif %}
                {% endif %}

                {% if results.ProblemDescription == " " %}
                    <div class="well">
                        {{ results.ProblemDescription|safe }}
                    </div>
                {% endif %}

                {% if results.State == 1 %}
                    <hr>
                    <div class="caption">
                        <small>处理人：{{ results.Head }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 处理时间：{{ results.DateTime2|date:"Y年n月j日（周w）P" }}</small>
                        <br/><br/>
                        <strong>处理摘要：{{ results.ProcessResultsSummary }}</strong>
                    </div>

                    {% if results.ProblemDescription == " " %}
                        <div class="well">
                            {{ results.ProcessResultsDescription|safe }}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </li>
    {% endfor %}
    </ul>

{% endblock %}


{% block footerjs_1 %}

    <script src="{% static "jPages/jPages.js" %}"></script>
    <script type="text/javascript">
        $(function(){
          $("div.holder").jPages({
            containerID : "itemContainer"
          });
        });
    </script>

{% endblock %}

