{% extends "general.html" %}

{% block navactive %}
              <li><a href="index">首页</a></li>
              <li><a href="about">关于我们</a></li>
              <li><a href="contact">联系我们</a></li>
              <li><a href="dashboard">仪表盘</a></li>
              <li><a href="tracking">支持</a></li>
              <li class="active"><a href="record">记录</a></li>
{% endblock %}

{% block content_subtitle %}
        <h1>跟踪</h1>
        <p class="lead">这里是记录模块，可以在此记录信息。</p>
{% endblock %}

{% block content_con %}

  <form class="form-horizontal" action="{% url "record_mid_searcher" %}" method="post">{% csrf_token %}
    <fieldset>
        <div id="legend" class="control-group">
            <legend class="">查找顾客信息</legend>
        </div>

        <div class="control-group">
            <!-- Text input-->
            <label class="control-label" for="input01">订单ID</label>
            <div class="controls">
                <input name="dingdanid" placeholder="placeholder" class="input-xlarge" type="text">
                <p class="help-block">无</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Text input-->
            <label class="control-label" for="input02">旺旺ID</label>
            <div class="controls">
                <input name="wangwangid"placeholder="placeholder" class="input-xlarge" type="text">
                <p class="help-block">无</p>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label"></label>
            <!-- Button -->
            <div class="controls">
                <button type="submit" class="btn btn-success">提交</button>
            </div>
        </div>
    </fieldset>
  </form>

{% endblock %}